body
  font-size: .12rem
  background-color: rgba(0,0,0,.3)
.header
  height: .4rem
  line-height: .4rem
  padding-left: .2rem
  padding-right: .2rem
  box-sizing: border-box
  background-color: #000
  z-index: -1
  color: #fff
  .fa-angle-left
    margin-right: .2rem
  h1
    display: inline-block
    font-size: .14rem
    font-weight: normal
  .fa-chain
    line-height: .4rem
    float: right
.section
  padding-left: .2rem
  padding-right: .2rem
  box-sizing: border-box
  .login
    width: 2.6rem
    border-radius: .1rem
    background-color: #fff
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    height: 3rem
    margin: auto
    text-align: center
    .imgs
      padding-top: .4rem
      padding-left: .6rem
      padding-right: .6rem
      img
        width: 100%
    p
      margin-top: .05rem
    .form
      p
        margin-right: .2rem
        margin-left: .2rem
        box-sizing: border-box
        border-bottom: .01rem solid #ccc
        position: relative
        margin-bottom: .2rem
        input
          height: .3rem
          border: none
          text-indent: .2rem
        label
          width: .2rem
          height: .3rem
          position: absolute
          left: .2rem
          top: 0
          img
            width: 100%
    button
      width: 84%
      margin-right: .2rem
      margin-left: .2rem
      box-sizing: border-box
      height: .3rem
      background-color: #0074d9
      color: #fff
      border: none
      border-radius: .05rem



